<div class="container">
   <div class="container-header">
      <h1>Flight Simulator</h1>
      <h2>Current Flight Status</h2>
      <p>{{ message }}</p>
      <h2>Shuttle Trajectory</h2>
   </div>
   <div class="row justify-content-center">
      <div class="col-3">
         <div class="container-left">
            <h3>Fuel Levels</h3>
            <p>Tank Full</p>
            <h3>Astronaut Chat</h3>
            <p>Houston, we are ready when you are!</p>
         </div>
      </div>

      <div class="col-6">
         <div class="shuttle-background" [style.background-color]='color'>
            <img src="assets/images/LaunchCode_rocketline_white.png" height = "75" width = "75" [style.left]="position(width)" [style.bottom]="position(height)"/>
         </div>
      </div>

      <div class="col-3">
         <div class="container-right"b>
            <button (click)='move("up")'>Up</button>
            <button (click)='move("down")'>Down</button>
            <button (click)='move("right")'>Right</button>
            <button (click)='move("left")'>Left</button>
            <h3>Space Shuttle Height</h3>
            <p>{{ altitude }} km</p>
         </div>
      </div>
   </div>
   <div class="container-control-buttons">
      <button (click) = 'confirmLiftOff()' [disabled] = 'color == "blue"'>Take Off</button>
      <button (click) = 'shuttleLand()' [disabled] = 'color == "green"'>Land</button>
      <button [disabled] = 'color == "green"'>Abort Mission</button>
   </div>
</div>